.chat, .diagram {
  height: 100vh;
  overflow-y: auto;
  font-family: 'Avenir';
}

.chat {
  background-color: #f5f5f5;
  font-family: 'Avenir';
}

.diagram {
  background-color: #ffffff;
  font-family: 'Avenir';
}
